<!DOCTYPE html>
<html>
<head>
		<title>Rooks Realty, Inc.</title>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script type="text/javascript"
						src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAzKnFaxquA641TGYbQEK08QZvc0htFj4I">
		</script>
</head>
<body ng-app="rooksRealty">

<%= render 'shared/header' %>

<div ng-controller="HomeController">

		<div>
				<div>

						<div class="cd-fixed-bg cd-bg-1 visible-lg">

								<p class="notice"><%= notice %></p>

								<p class="alert"><%= alert %></p>

								<form class="form-horizontal col-md-offset-3 col-md-6 search-form hidden">
										<div class="form-group">
												<div class="col-sm-8">
														<input ng-model="query.location" type="search" class="form-control input-lg" placeholder="Quick Search (e.g. MLS, Address, Zip Code)"/>
												</div>
												<div class="col-sm-4">
														<property-types get-number="getNumber"></property-types>
												</div>
										</div>
										<div class="form-group">
												<div class="col-sm-2">
														<select class="form-control input-lg"></select>
												</div>
												<div class="col-sm-2">
														<select class="form-control input-lg"></select>
												</div>
												<div class="col-sm-2">
														<select class="form-control input-lg"></select>
												</div>
												<div class="col-sm-2">
														<select class="form-control input-lg"></select>
												</div>
												<div class="col-sm-4">
														<button class="btn btn-primary btn-lg">Search Property</button>
												</div>
										</div>
								</form>

						</div>

						<div class="container content">
								<div class="row">
										<%= yield %>
								</div>
						</div>

				</div>
		</div>

		<%= render 'shared/footer' %>

</div>

</body>
</html>
