<!DOCTYPE html>
<html>
<head>
  <title>RooksRealty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="rooksRealty">

<%= render 'shared/header' %>

<div>

<div>
  <div>

    <div class="cd-fixed-bg cd-bg-1">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <form class="form-inline hidden">
        <div class="right-inner-addon">
            <i class="fa fa-search fa-lg"></i>
            <input type="search"
                   class="form-control input-lg" 
                   placeholder="Search" />
        </div>
      </form>

    </div> 

    <div class="container content">
      <div class="row">
        <%= yield %>
      </div>
    </div>

  </div>
</div>

<%= render 'shared/footer' %>

</div>

</body>
</html>
